.cardContainer .card {
  position: relative;
  width: 95%;
  max-width: 1200px;
  border-radius: 24px;
  padding: 50px;
  transform-origin: top;
  pointer-events: auto;
}

.cardContainer .card .cardBody .description span {
  display: flex;
  align-items: center;
  gap: 5px;
}

.cardContainer .card .cardBody .description span a {
  font-size: 12px;
  cursor: pointer;
}

.cardContainer .card .cardBody .imageContainer {
  position: relative;
  border-radius: 16px;
  overflow: hidden;
  min-height: 320px;
}

.cardContainer .card .cardBody .imageContainer .inner {
  width: 100%;
  height: 100%;
}


