/* .cardContainer .card {
  position: relative;
  width: 95%;
  max-width: 1200px;
  border-radius: 24px;
  padding: 48px;
  transform-origin: top;
  pointer-events: auto;
} */

.cardContainer .card .cardBody .imageContainer {
  position: relative;
  border-radius: 16px;
  overflow: hidden;
  min-height: 320px;
  border: 4px solid var(---borderColor);
}

.cardContainer .card .cardBody .imageContainer .inner {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 480px) {
  .cardContainer .card {
    padding: 24px;
  }
}
