@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
:root {
  --heroSize: 56px;
  --headingSize: 40px;
  --heading2Size: 20px;
  --subHeadingSize: 16px;
  --fontSize: 14px;

  .lightTheme {
    --brandColor: #0d6efd;
    --headingColor: #27272a;
    --textColor: #52525b;
    --iconColor: #71717a;
    --cardBgColor: #f5f5f5;
    --shadowColor: #ececec;
    --bgColor: #ffffff;
    --borderColor: hsla(0, 0%, 0%, 0.16);
    --drawerBg: #eeeeeeaa;
    --techBg: #52aeff10;
  }

  .darkTheme {
    --brandColor: #0d6efd;
    --headingColor: #f4f4f5;
    --textColor: #9c9ca5;
    --iconColor: #71717a;
    --cardBgColor: #252529;
    --shadowColor: #32323a;
    --bgColor: #090909;
    --borderColor: hsla(0, 0%, 100%, 0.16);
    --drawerBg: #111111aa;
    --techBg: #0088ff10;
  }
}
::-webkit-scrollbar {
  width: 10px;
  background: var(--cardBgColor);
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
::-webkit-scrollbar-thumb {
  background: var(--iconColor);
}
::-webkit-scrollbar-thumb:hover {
  background: var(--textColor);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif !important;
}

body {
  background-color: var(--bgColor) !important;
}
 

.navLink {
  text-decoration: none;
  color: var(--headingColor);
}
.active,
.btnHover:hover {
  color: var(--brandColor);
  transition: all 0.4s ease-in-out;
}
.card:hover {
  background: var(--cardBgColor);
  transition: all 0.3s ease-in-out;
}
.bg-blur,
.MuiDrawer-paper {
  backdrop-filter: blur(10px);
  z-index: 10;
}
.drawer {
  background: none !important;
}
button.active {
  border-color: var(--brandColor) !important;
  color: var(--headingColor) !important;
}

.buttonPrimary {
  color: #fff;
  background-image: linear-gradient(0deg, #0240dd 0%, #0d6efd 100%)!important;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
    0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07),
    0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07),
    inset 0 1px 0 0px rgba(255, 255, 255, 0.15) !important;
  transition: all 300ms ease-in-out !important;
}

.buttonPrimary:hover, .buttonSecondary:hover {
  filter: brightness(0.8);
}

.buttonPrimary:active,
.buttonSecondary:active {
  transform: scale(0.95);
}

.buttonSecondary{
  color: var(--headingColor)!important;
  background: var(--cardBgColor) !important;
  border: 1px solid var(--cardBgColor) !important;
  border-radius: 8px !important;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
    0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07),
    0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07),
    inset 0 1px 0 0px rgba(255, 255, 255, 0.15) !important;
  transition: all 300ms ease-in-out !important;
}

.buttonSecondary:hover {
  background: var(--cardBgColor) !important;
}

.dot-grid {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: relative;
}

.dot-grid__wrap {
  width: 100%;
  height: 100%;
  position: relative;
}

.dot-grid__canvas {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
